@import '../../../styles/variables.scss';

.container {
    display: grid;
    grid-template-columns: auto auto;
    min-width: 100vw;
    width: 100%;

}

.overlay {
    z-index: 1;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
}

.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: relative;
}

.itemTopRight {
    grid-column: 2;
    grid-row: 1;
    justify-self: flex-end;
}

.itemTopLeft {
    grid-column: 1;
    grid-row: 1;
    justify-self: flex-start;

}

.itemBottomRight {
    grid-column: 2;
    grid-row: 2;
    justify-self: flex-end;
}

.itemBottomLeft {
    grid-column: 1;
    justify-self: flex-start;
    grid-row: 2;
}

.space {
    height: 70px;
    grid-column: 2;
    grid-row: 2;
}

@media only screen and (max-width: $tabletScreen) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        min-width: 100%;
        opacity: 50%;
    }

    .itemTopRight {
        display: flex;
        align-self: flex-start;
    }

    .itemBottomRight {
        display: flex;
        align-self: flex-end;
    }
}