// FIXME: wip svg responsive
@import '../../../styles//variables.scss';

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 5%;
    top: 45%;
    bottom: 0;
    margin: auto;
}

.text {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: $font;
}

.link {
    font-family: 'Noto';
    font-weight: 300;
    font-size: 52px;
    color: $font;
    font-style: normal;
    line-height: 75px;
}

.imageContainer {
    width: 100%;
}

@media only screen and (max-width: $portraitPhoneScreen) {
    .container {
        display: inline;
        height: 100%;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        top: 30%;
        bottom: 0;
        margin: auto;
    }

    .svg {
        width: 300px;
        height: 150px;
        resize: both;
        overflow: auto;
        border: 1px dashed #aaa;
    }

    .text {
        font-size: 10px;
        line-height: 20px;
    }

    .link {
        font-size: 28px;
        line-height: 46px;
    }


}