html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /* background: black; */
  }
}


@font-face {
  font-family: "AngelaWhite";
  src: url('../fonts/angela/Angella\ White.otf');
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "Noto";
  src: url('../fonts/noto/NotoSerifDisplay-Light.ttf');
  font-weight: bold;
  font-style: normal;
}
