@import '../../../styles/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 90px 10px;
}

.header {
    font-family: 'Noto';
    font-style: normal;
    font-weight: 300;
    color: $font;
    font-size: 52px;
    line-height: 71px;
    margin: 0 0 13px;
}

.subtitle {
    font-family: 'Noto';
    color: $font;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 41px;
}

@media only screen and (max-width: $portraitPhoneScreen) {
    .container {
        padding: 30px 9px;
    }

    .header {
        font-size: 32px;
        line-height: 57px;
    }

    .subtitle {
        font-size: 18px;
        line-height: 34px;
    }
}